body {font-family: Avenir;}

h1 {
	font: bold 24px 'Courier New', Courier, monospace;
color:red;
text-align: center;
}

h2 {
	font: bold 20px 'Courier New', Courier, monospace;
	text-align: center;
}

p {
	color:purple; 
	font-size: 24px;
}

.blue-box {
	border: 10px solid blue;
	padding: 0.5em;
	margin: 0.5em;
	width: 150px;
	height: 100px;
	float: right;
}
.red-box {
	border: 10px solid red;
	padding: 0.5em;
	margin: 0.5em;
	width: 20px;
	height: 20px;
	float: right;
}

.new-line-element{
	clear: both;
}

.box {
	width: 100px;
	height: 100px;
}
.black-box{
	background-color: black;

}

.green-box {
	background-color: green;
}

.checkbox{
	width: 200px;
	border: 4px solid black;
	display: flex;
	flex-wrap: wrap;
}

.tictac-container {
	width: 324px;
	border: 4px solid white; 
	display: flex;
	flex-wrap: wrap;
}

.tictac {
	background-color:rgb(159, 217, 235);
	border: 4px solid white;
}